* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-start {
  justify-content: start;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.poppins {
  font-family: "Montserrat";
}
